body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    background-color: #1E1E1E; 
    padding: 20px 0; 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: none; 
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav .name {
    font-weight: bold;
    font-size: 28px;
    color: #fff;
}

nav .nav-links a {
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease; 
}

nav .nav-links a:hover {
    color: #808080;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5)), url('images/wallpaper.jpeg') no-repeat center center/cover;
    margin-top: 0; 
    position: relative;
}

.about-section .about-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.about-section h1 {
    font-size: 6rem; 
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
}

.about-section .subtext {
    font-size: 1.5rem; 
    margin-top: 10px;
}

.about-text {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}

.about-text h2 {
    margin-top: 0;
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
}
